<div class="page">
  <div class="title-box" style="min-height: 1250px">

    <div class="flex-container">
      <div class="flex-item" *ngFor='let item of barberList | async'>

        <div *ngIf="admin">
          <p class="text-center"><a routerLink="/barber', barber.barberId">{{item.name}}</a><a (click)="removeBarb(item.$key)"><i style="color:#000; float:right" class="fa fa-remove fa-2x"></i></a></p>
          <a><img [src]='item.image' class="img-thumbnail" style="max-width:250px; max-height:250px; min-width:250px; min-height:250px"></a>
            </div>
      
        <div *ngIf="!admin">
          <p class="text-center"><a routerLink="/barber', barber.barberId">{{item.name}}</a></p>

          <a><img [src]='item.image' class="img-thumbnail" style="max-width:250px; max-height:250px; min-width:250px; min-height:250px">
          </a>
        </div>

      </div>

    </div>

  </div>
</div>
