<div class="page">

  <div class="title-box" style="min-height: 1411px">

    <br>
    <br>

    <div class="container mx-auto d-block" style="min-width:200px; width: auto; max-width:950px">

      <div class="col-lg-12 mx-auto d-block" style="padding:10px; width: auto; min-height:450px">



        <div style="margin-bottom:40px; border: 1px solid black; padding:10px">
          <h4 class="text-center">
            Order Summary
          </h4>
          <br>
          <br>
          <table class='table responsive'>
            <tbody>
              <tr *ngFor='let item of mine | async' class="mx auto d-block" style="border: 1px solid #000; background-color: #fff; margin-bottom:5px; margin-right:5px; margin-left:5px">
                <a (click)="removeItem(item.$key)"><i style="color:#000; float:right; margin-top:3px; padding-right:3px" class="fa fa-remove"></i></a>
                <td style="width:250px">{{ item.brand }}</td>
                <td style="width:250px">{{item.name}}</td>
                <!--<td><img [src]='item.image' style="width:50px; height:50px"></td>-->
                <td>${{ item.price }}</td>


              </tr>
            </tbody>
          </table>

          <div class="row">
            <div class="col-md-6">

            </div>
            <div class="col-md-6" style="float:right; padding:20px">
              <p style="float:right">Item(s) SubTotal - ${{subTotal.toFixed(2)}}
                <br> Shipping & Handling - ${{shipping}}
                <br> Tax - ${{tax.toFixed(2)}}
                <br> Total - ${{grandTotal.toFixed(2)}}</p>
            </div>

            <div class="row">
              <div class="col-md-6">


                <h4 class="text-center">
                  Shipping Information
                </h4>
                <br>
                <br>



                <div class="text-center mx-auto d-block">


                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="First Name" style="width: auto; max-width:200px">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Last Name" style="width: auto; max-width:200px">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Email" style="width: auto; max-width:200px">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Phone" style="width: auto; max-width:200px">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Address Line 1" style="width: auto; max-width:400px">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Address Line 2" style="width: auto; max-width:400px">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="City" style="width: auto">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="State" style="width: auto; max-width:90px">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Zip Code" style="width: auto; max-width:100px">
                  </md-input-container>

                  <br>
                  <br>
                  <md-checkbox>Same as Billing Address</md-checkbox>
                </div>
              </div>






              <div class="col-md-6">


                <h4 class="text-center">
                  Billing Information
                </h4>
                <br>
                <br>



                <div class="text-center mx-auto d-block">


                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="First Name">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Last Name">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Email">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Phone">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Address Line 1">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Address Line 2">
                  </md-input-container>
                  <br>
                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="City">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="State" style="width:90px">
                  </md-input-container>

                  <md-input-container floatPlaceholder="always">
                    <input mdInput placeholder="Zip Code" style="width:100px">
                  </md-input-container>

                  <br>
                  <br>

                </div>
              </div>




              <div class="mx-auto d-block" style="margin-top:60px">
                <h4 class="text-center">
                  Payment Method
                </h4>
                <br>

                <form action="/charge" method="post" id="payment-form" #formData='ngForm'>
                  <div class="form-row">
                    <md-input-container floatPlaceholder="always" class="mx-auto d-block">
                      <input mdInput placeholder="Card Holder's Name" style="width:auto; max-width:320px" type="text" (ngModel)="name" name="name"
                        class="txt" required>
                    </md-input-container>

                    <label for="card-element">

    </label>
                    <div id="card-element">
                      <!-- a Stripe Element will be inserted here. -->
                    </div>

                    <!-- Used to display form errors -->
                    <div id="card-errors"></div>
                  </div>
                  <br>
                  <button style="min-width:300px; width:auto; cursor:pointer; float:right" [disabled]="!formData.valid" class="btn btn-lg btn-block btn-success"
                    type="submit">Pay Now</button>
                </form>
              </div>

            </div>
          </div>

        </div>
      </div>
