<div class="page">
  <div class="title-box">
    <p class="text-center">

      <br>
      <br>
      <md-input-container floatPlaceholder="always">
        <input class="text-center" mdInput placeholder="Name" type="text" [(ngModel)]="serviceName" style="width: 300px">
      </md-input-container>

      <br/>
      <md-input-container floatPlaceholder="always">
        <input class="text-center" mdInput placeholder="Price" type="text" [(ngModel)]="servicePrice" style="width: 300px">
      </md-input-container>
      <br>
      <br>
      <label>Description:</label>
      <br>
      <textarea class="text-center" style="width:300px; height:200px" rows="5" type="text" [(ngModel)]="serviceDesc"></textarea>
      <br>
      <br>
      <br>
      <div *ngIf="editPage" class="text-center">
      <button md-raised-button color="warn" (click)="openDialog()">Delete Service</button>
      <button md-raised-button color="primary" (click)="updateService(serviceName.value, servicePrice.value, serviceDesc.value)">Save Changes</button>
      </div>
      <div *ngIf="addPage" class="text-center">
      <button md-raised-button color="warn" (click)="createService()">Add Service</button>
      </div>
  
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
