<div class="page">
  <div class="title-box">
    <p class="text-center">

      <br>
      <br>
      <md-input-container floatPlaceholder="always">
        <input class="text-center" mdInput placeholder="Name" type="text" [(ngModel)]="serviceName" style="width: 300px">
      </md-input-container>

      <br/>
      <md-input-container floatPlaceholder="always">
        <input class="text-center" mdInput placeholder="Price" type="text" [(ngModel)]="servicePrice" style="width: 300px">
      </md-input-container>
      <br>
      <br>
      <label for="comment">Description:</label>
      <br>
      <textarea class="text-center" style="width:300px; height:200px" rows="5" id="comment" [(ngModel)]="serviceDesc"></textarea>
      <br>
      <br>
      <br>
      <button md-raised-button color="warn" (click)="createProduct()">Add Service</button>
    </p>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
