<div class="page">

<div *ngIf="!loggedIn" class="text-center">
  <input class="text-center" placeholder="email" [(ngModel)]="email" style="width: 300px"><br/>
  <input class="text-center" placeholder="password" [(ngModel)]="password" type="password" style="width: 300px"><br/>
  <button md-raised-button color="warn" (click)="login()">Login</button>
</div>
<div *ngIf="loggedIn" class="text-center">
  user's uid = {{uid}}<br/>
  <br>
  <button md-raised-button color="accent" (click)="logout()">Logout</button>
</div>
    </div>