<div class="page">

    <div class="title-box">

<br>
      <h5 class="text-center" style="font-weight:bold">Address & Phone</h5>

  
      <p class="text-center">2851 S. Redwood Rd, 84119,
        <br> West Valley City, UT
        <br>
        <a href="tel:1-(385) 242-7523">(385) 242-7523</a></p>
      <br>
    
        <h5 class="text-center" style="font-weight:bold">Hours of Operation</h5>
   
  
        <p class="text-center">
          <b>Closed Monday</b><br><br>
          <b>Tuesday - Saturday</b> <br> (9:00 AM - 7:00 PM)<br><br>
          <b>Sunday</b> <br> (11:00 AM - 5:00 PM)</p>



  </div>
</div>
