<div>
 <div style="padding-left:10px; padding-right:10px; padding-top:80px; padding-bottom:80px">

    <div class='card' style="height: 100%; width:1065px; margin-left:117px; border:1px solid black">
      <div class="card-header" style="background-color:#DB2226; border-bottom:1px solid black">
        <h4 class="text-center" style="color:#fff;text-shadow: 2px 2px #000; font-size: 22px">Photos</h4>
      </div>
      <div class='card-block' style="padding-left:60px; padding-top:60px">
    
        <table class='table table-responsive'>

          <tbody>
            <tr style="border: none">

              <td style="border: none"><img class='img-thumbnail-photo' src="/assets/images/photos/pic1.jpg" alt="1" width="280" height="206">
                <img class="img-thumbnail-photo" src="/assets/images/photos/pic2.jpg" alt="1" width="280" height="206">
                <img class="img-thumbnail-photo" src="/assets/images/photos/pic3.jpg" alt="1" width="280" height="206"></td>

            </tr>
            <tr style="border: none">

             <td style="border: none"><img class='img-thumbnail-photo' src="/assets/images/photos/pic4.jpg" alt="1" width="280" height="206">
                <img class="img-thumbnail-photo" src="/assets/images/photos/pic5.jpg" alt="1" width="280" height="206">
                <img class="img-thumbnail-photo" src="/assets/images/photos/pic6.jpg" alt="1" width="280" height="206"></td>

            </tr>
            <tr style="border: none">

             <td style="border: none"><img class='img-thumbnail-photo' src="/assets/images/photos/pic7.jpg" alt="1" width="280" height="206">
                <img class="img-thumbnail-photo" src="/assets/images/photos/pic8.jpg" alt="1" width="280" height="206">
                <img class="img-thumbnail-photo" src="/assets/images/photos/pic9.jpg" alt="1" width="280" height="206"></td>
            </tr>
          </tbody>
        </table>
      </div>
      <br>
      <br>

    </div>
  </div>
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" style="color:#000">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#" style="color:#DB2226">1</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color:#DB2226">2</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color:#DB2226">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" style="color:#DB2226">Next</a>
    </li>
  </ul>
  <br>
  <br>

</div>