<div class="page">


  <div class="title-box">

    <div class="title">Photos</div>


    <div class="text-center" style="padding-bottom:10px">
      <img class='img-thumbnail-photo' src="/assets/images/photos/pic1.jpg" alt="1" width="280" height="206">
      <img class="img-thumbnail-photo" src="/assets/images/photos/pic2.jpg" alt="1" width="280" height="206">
      <img class="img-thumbnail-photo" src="/assets/images/photos/pic3.jpg" alt="1" width="280" height="206">
    </div>
    <div class="text-center" style="padding-bottom:10px">
      <img class='img-thumbnail-photo' src="/assets/images/photos/pic4.jpg" alt="1" width="280" height="206">
      <img class="img-thumbnail-photo" src="/assets/images/photos/pic5.jpg" alt="1" width="280" height="206">
      <img class="img-thumbnail-photo" src="/assets/images/photos/pic6.jpg" alt="1" width="280" height="206">
    </div>

    <div class="text-center" style="padding-bottom:10px">
      <img class='img-thumbnail-photo' src="/assets/images/photos/pic7.jpg" alt="1" width="280" height="206">
      <img class="img-thumbnail-photo" src="/assets/images/photos/pic8.jpg" alt="1" width="280" height="206">
      <img class="img-thumbnail-photo" src="/assets/images/photos/pic9.jpg" alt="1" width="280" height="206">
    </div>
    <br>
    <br>
    <br>
    <br>
  </div>
  <br>
  <br>



  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link" href="#" tabindex="-1" style="color:#000">Previous</a>
    </li>
    <li class="page-item"><a class="page-link" href="#" style="color:#DB2226">1</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color:#DB2226">2</a></li>
    <li class="page-item"><a class="page-link" href="#" style="color:#DB2226">3</a></li>
    <li class="page-item">
      <a class="page-link" href="#" style="color:#DB2226">Next</a>
    </li>
  </ul>
  <br>
  <br>

</div>
