<!--DESKTOP VIEW-->
<div class="hidden-xs-down">
  <header>
    <div style="float:left; width: 200px; background-color: black">
      <img id="logo" src="assets/images/logo.png" height="300" width="200" style="float: left" class="img-thumbnail" style="height:310px">
    </div>
    <div style="margin-left: 200px; height: 300px; overflow: hidden; background-color: #000">
      <md-grid-list cols="3" rowHeight="140px" gutterSize="1" style="margin-top:10px">

        <md-grid-tile>


          <div class="PropertyBox">
            <a class='my-btn' (click)='onClick()'>
              <img src="/assets/images/barbs.png" style="width: 50px; height: 50px">
              <p style="font-size:16px">
                <span class="PropertyTopic">SERVICES</span>
                <span class="PropertyText">Find out what services we offer and our pricing.</span></p>
            </a>
          </div>

        </md-grid-tile>

        <md-grid-tile>
          <div class="PropertyBox">
            <a class='my-btn' (click)='onClick2()'>
              <img src="/assets/images/hair2.png" style="width: 50px; height: 50px">
              <p style="font-size:16px">
                <span class="PropertyTopic">PRODUCTS</span>
                <span class="PropertyText">We sell multiple hair and beard products.</span></p>
            </a>
          </div>
        </md-grid-tile>

        <md-grid-tile>
          <div class="PropertyBox" style="float:left">
            <a class='my-btn' (click)='onClick3()'>
              <img src="/assets/images/jobs2.png" style="width: 50px; height: 50px">
              <p style="font-size:16px">
                <span class="PropertyTopic">JOBS</span>
                <span class="PropertyText">Click this link to fill out a form.</span></p>
            </a>
          </div>
        </md-grid-tile>

        <md-grid-tile>
          <div class="PropertyBox">
            <a class='my-btn' (click)='onClick4()'>
              <img src="/assets/images/artists.png" style="width: 50px; height: 50px">
              <p style="font-size:16px">
                <span class="PropertyTopic">BARBERS</span>
                <span class="PropertyText">Meet our barbers and get to know who is cutting your hair.</span></p>
            </a>
          </div>
        </md-grid-tile>

        <md-grid-tile>
          <div class="PropertyBox">
            <a class='my-btn'>
              <img src="/assets/images/comm3.png" style="width: 50px; height: 50px">
              <p style="font-size:16px">
                <span class="PropertyTopic">COMMUNITY</span>
                <span class="PropertyText">Get active in our community.<br>Come see what we are doing.</span></p>
            </a>
          </div>
        </md-grid-tile>

        <md-grid-tile>
          <div class="PropertyBox">
            <a class='my-btn'>
              <img src="/assets/images/social2.png" style="width: 50px; height: 50px">
              <p style="font-size:16px">
                <span class="PropertyTopic">CONNECT</span>
                <span class="PropertyText">Click any of the links at the bottom of our page to join our social media.</span></p>
            </a>
          </div>
        </md-grid-tile>
      </md-grid-list>
    </div>

  </header>
  <div style="clear: both"></div>
  <aside>
    <div style="float:left; width: 200px; background-color: #000; min-height:650px">
      <div *ngIf="authed == null" style="color: #fff; border-bottom:1px solid white" class="text-center">
        <div style="margin-bottom:5px; margin-top:5px">
          <a routerLink="/login">Sign In</a>&nbsp;&nbsp;&nbsp;
          <a routerLink="/register">New Account</a>

        </div>
      </div>

      <div *ngIf="authed != null" style="color: #000; margin-right: 5px; margin-top:20px" class="text-center">
        <div class="dropdown">
          <a class="dropdown-toggle" id="login" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <img src="/assets/images/newprof4.png" style="width: 128px; height: 128px" class="img-thumbnail">
          </a>
          <div class="dropdown-menu" aria-labelledby="login">
            <a class="dropdown-item" routerLink="/account" style="color:#000"><i class="fa fa-dashboard fa-fw" aria-hidden="true"></i> Profile</a>
            <!--<a class="dropdown-item" routerLink="/settings"><i class="fa fa-cogs fa-fw"></i> Settings</a>
            <a class="dropdown-item" routerLink="/cart"><i class="fa fa-shopping-basket fa-fw"></i> Cart</a>-->
            <div *ngIf="authed != null && admin" class="dropdown-divider"></div>
            <a class="dropdown-item" *ngIf="authed != null && admin" routerLink="/admin" style="color:#000"><i class="fa fa-server fa-fw" aria-hidden="true"></i> Admin</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" (click)="logout()" style="color:#000"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
          </div>
        </div>

      </div>



      <ul class="nav navbar-nav" style="margin-top:5px">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home"><span class="MenuSideMainLink"><span class="MainLinkText">HOME</span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products"><span class="MenuSideMainLink"><span class="MainLinkText">PRODUCTS</span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/barbers"><span class="MenuSideMainLink"><span class="MainLinkText">BARBERS</span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/services"><span class="MenuSideMainLink"><span class="MainLinkText">SERVICES</span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/photos"><span class="MenuSideMainLink"><span class="MainLinkText">PHOTOS</span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/jobs"><span class="MenuSideMainLink"><span class="MainLinkText">JOBS</span></span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact"><span class="MenuSideMainLink"><span class="MainLinkText">CONTACT</span></span></a>
        </li>
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/login"><span class="MenuSideMainLink"><span class="MainLinkText">LOGIN</span></span></a>
        </li>-->
        <!--<li class="nav-item">
          <a class="nav-link" routerLink="/admin"><span class="MenuSideMainLink"><span class="MainLinkText">ADMIN</span></span></a>
        </li>-->
      </ul>

      <p *ngIf="authed != null && !admin" class="text-center" style="color:#fff; border: 1px solid #fff; margin-top:5px"> Cart Items | <a routerLink='/checkout'>Checkout</a></p>
      <div *ngIf="authed != null">
        <div *ngFor='let item of mine | async' style="border: 1px solid #000; background-color: #fff; margin-bottom:5px; margin-right:5px; margin-left:5px">
          <a (click)="removeItem(item.$key)"><i style="color:#000; float:right; margin-top:3px; padding-right:3px" class="fa fa-remove"></i></a>
          <p class="text-center">{{item.brand}}</p>
          <p class="text-center">{{item.name}}</p>
          <img [src]='item.image' style="width:50px; height:50px">
          <p class="text-center">${{ item.price }}</p>
        </div>
      </div>

    </div>
  </aside>




</div>

<!--START MOBILE-->
<div class="hidden-sm-up">
  <nav class="navbar navbar-light" style="background-color: #DB2226"></nav>

  <ul class="mx-auto" style="padding-top:10px; height: 370px; background-image: url('/assets/images/newlogo-nav2.png'); background-repeat: no-repeat; background-color: #000; background-position: center; margin-top:0px; margin-bottom:0px; text-align:center">

    <li style="display:inline !important"><a style="padding:3px" hover="color: #fff" routerLink="/home"><b>HOME</b></a><span class="sr-only">(current)</span></li>
    <li style="display:inline !important"><a style="padding:3px" routerLink="/products"><b>PRODUCTS</b></a></li>
    <li style="display:inline !important"><a style="padding:3px" routerLink="/barbers"><b>BARBERS</b></a></li>
    <li style="display:inline !important"><a style="padding:3px" routerLink="/services"><b>SERVICES</b></a></li>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <li style="display:inline !important"><a style="padding:3px; padding-left:40px" routerLink="/contact"><b>CONTACT</b></a></li>
    <li style="display:inline !important"><a style="padding:3px" routerLink="/photos"><b>PHOTOS</b></a></li>
    <li style="display:inline !important"><a style="padding:3px" routerLink="/jobs"><b>JOBS</b></a></li>
    <li style="display:inline !important; padding-right:30px"><a style="padding:3px" routerLink="/login"><b>LOGIN</b></a></li>
  </ul>


</div>




<main style="margin-left: 200px">
  <router-outlet></router-outlet>
</main>

<footer style="clear: both; height:100px; background-color: white; border-top: 1px solid black">

  <span class="copyright">© 2016-2017 Cutthroat Barbershop</span>
  <span class="footer-icons">
            <a href="http://www.yelp.com/biz/cutthroat-barber-shop-west-valley-city"><i class="material-icons" style="background-color:#c41200"><img src="./assets/images/yelp.png" style="width:30px; height:30px"></i></a>
            <a href="https://www.instagram.com/cutthroat_barber/?hl=en"><i class="material-icons" style="background-color:brown"><img src="./assets/images/insta.png" style="width:30px; height:30px"></i></a>
            <a href="https://www.facebook.com/search/513605432131514/local_search?surface=tyah"><i class="material-icons" style="background-color:#3b5998"><img src="./assets/images/fb.png" style="width:30px; height:30px"></i></a>
</span>



</footer>

<script type="text/javascript">
  $(document).ready(function () {

    $(".dropdown-toggle").dropdown('toggle');

  });

</script>
