<div class="page">


  <p class="text-center">
    Add New Product&nbsp;&nbsp;<button md-mini-fab color="blue" routerLink="/admin/products/add">+</button>
  </p>
<p class="text-center">
    Add New Barber&nbsp;&nbsp;&nbsp;&nbsp;<button md-mini-fab color="blue" routerLink="/admin/barbers/add">+</button>
  </p>
    <p class="text-center">
    Add New Picture&nbsp;&nbsp;&nbsp;&nbsp;<button md-mini-fab color="blue" routerLink="/admin/products/add">+</button>
  </p>
<p class="text-center">
    Add New Post&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button md-mini-fab color="blue" routerLink="/admin/barbers/add">+</button>
  </p>


 

</div>