<div class="hidden-xs-down page">
  <div class="title-box-admin mx-auto d-block">

    <h4 class="text-center">What would you like to do?</h4>
    <br>
    <p class="text-center">
      <a routerLink="/admin/products/add" style="color:#000">Add New Product</a>&nbsp;&nbsp;&nbsp;<a routerLink="/admin/services/add"
        style="color:#000">Add New Service</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
    <p class="text-center">
      <a routerLink="/admin/barbers/add" style="color:#000">Add New Barber</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a routerLink="/admin/photo/add"
        style="color:#000">Add New Picture</a>&nbsp;&nbsp;&nbsp;&nbsp;
    </p>
  </div>
</div>


<div class="hidden-sm-up page-mob">
  <div class="page-mob">
    <div class="title-box-admin-mob mx-auto d-block">

      <h4 class="text-center">What would you like to do?</h4>
      <br>
      <p class="text-center">
        &nbsp;<a routerLink="/admin/products/add" style="color:#000">Add New Product</a>
        <br>
        <a routerLink="/admin/services/add" style="color:#000">Add New Service</a>
        <br>
        <a routerLink="/admin/barbers/add" style="color:#000">Add New Barber</a>&nbsp;
        <br>
        &nbsp;&nbsp;<a routerLink="/admin/photo/add" style="color:#000">Add New Picture</a>&nbsp;&nbsp;&nbsp;&nbsp;
      </p>
    </div>
  </div>

</div>
