<div class="page">
  <div class="title-box mx-auto d-block">
    <div class="container">
      <form #jobForm="ngForm" (ngSubmit)="onSubmit(jobForm.value)">
        <!-- we will place our fields here -->
        <!--name-->
        <br>
        <p class="text-center"> Thank you for your interest<br><br> in joining our team.
          <br><br>Please fill out the information below.</p>
        <br>
        <br>
        <br>
        <div class="text-center">
          <!--bind name to ngModel, it's required with minimum 5 characters-->
          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="Name" type="text" name="name" [(ngModel)]="user.name"  style="width:400px" required minlength="5">
          </md-input-container>

          <br>

          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="Phone" type="text" name="phone" [(ngModel)]="user.phone" style="width:400px" required minlength="10">
          </md-input-container>
          <br>

          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="Email" type="text" name="email" [(ngModel)]="user.email"  style="width:400px" required minlength="6">
          </md-input-container>

        </div>

        <!--adrress group-->
        <div ngModelGroup="address" class="text-center">
          <!--street-->

          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="Address" type="text" name="street" [(ngModel)]="user.address.street" style="width:400px"
              required>
          </md-input-container>

          <!--city-->

          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="City" type="text" name="city" [(ngModel)]="user.address.city" required>
          </md-input-container>



          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="State" type="text" name="state" [(ngModel)]="user.address.state" style="width:90px"
              required>
          </md-input-container>



          <md-input-container floatPlaceholder="always">
            <input class="text-center" mdInput placeholder="Zip Code" type="text" name="postcode" [(ngModel)]="user.address.postcode"
              style="width:100px" required>
          </md-input-container>

          <br>
        </div>
        <br>
        <br>

        <button md-raised-button color="default" value="Submit" [disabled]="!jobForm.form.valid" type="submit" style="float:right">Submit</button>
      </form>
      <br>
      <br>
    </div>
  </div>
</div>
