<div class="page">
  <div class="title-box">
    <p class="text-center">

      <br>
      <br>

      <md-input-container floatPlaceholder="always">
        <input class="text-center" mdInput placeholder="Name" type="text" [(ngModel)]="barberName" style="width: 300px">
      </md-input-container>
      <br/>
      <br/><br/> Barber Image Preview
      <br/>
      <img [src]="imageSrc" alt="coming soon" width="300" height="300"><br/>
      <br>
      <input style="padding-left:85px" id="file" name="file" type="file" (change)="onChange($event)"><br/><br/></p>
      <div *ngIf="editPage" class="text-center">
      <button md-raised-button color="primary" (click)="updateBarber(barberName.value, uploadUrl.value)">Save Changes</button>
      </div>
       <div *ngIf="addPage" class="text-center">
      <button md-raised-button color="warn" (click)="createBarber()">Add Barber</button>
      </div>
    
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
  </div>
</div>
