<div class="page">

  <div class="title-box">

    <div class="title">Cuts & Services</div>



    <table class='table'>
      <thead>
        <tr>
          <!--<th class="text-center"><h4>Cuts & Services</h4></th>-->
          <!--<th class="text-center" *ngIf="admin">Tools</th>-->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let item of serviceList | async'>

          <td><b>{{item.name}}</b></td>
          <td>{{ item.desc }}</td>
          <td>${{ item.price }}</td>
          <td class="text-center" *ngIf="admin" style="max-width:100px"><button md-raised-button color="primary" (click)="createService()" style="margin-bottom:5px">Edit</button>
            <button md-raised-button color="warn" (click)="removeService()">Remove</button>
          </td>

        </tr>
      </tbody>
    </table>
    <br><br>








  </div>

</div>
