<div class="page">

    <div class="title-box">
<div class="container">
        <div class="title">Cuts & Services</div>




        <table class='table table-responsive'>
            <thead>
                <tr>

                    <!--<th>Service</th>
                                    <th>Description</th>
                                    <th>Price</th>-->

                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <b>Haircut</b>
                    </td>
                    <td>
                        Our haircuts includes hot lather neck shave and style.
                    </td>
                    <td>
                        $20.00
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Hot Towel shave</b>
                    </td>
                    <td>
                        Hot lather shave includes a pre-shave application followed by a steam towel. Next hot lather is applied followed by the straight
                        razor shave. Ending with another steam towel then an aftershave splash!
                    </td>
                    <td>
                        $20.00
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Kid haircuts</b>
                    </td>
                    <td>
                        Haircut and style.
                    </td>
                    <td>
                        $15.00
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Haircut for seniors</b>
                    </td>
                    <td>
                        Haircut includes a hot lather neck shave and style!
                    </td>
                    <td>
                        $15.00
                    </td>
                </tr>
                <tr>
                    <td>
                        <b>Hair Designs</b>
                    </td>
                    <td>
                        Freestyle Designs and Logos
                    </td>
                    <td>
                        $10.00+
                    </td>
                </tr>
                <tr>
                    <tr>
                        <td>
                            <b>Hair and Beard Dye</b>
                        </td>
                        <td>
                            Bigen dye and applications (Lasts 1 to 2 weeks)
                        </td>
                        <td>
                            $15.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Beard trim</b>
                        </td>
                        <td>
                            Trimming/shaping of the beard. Trimmer clean up under the beard. Then using the hot lather and the straight razor, line up
                            cheek area/top line. Finished with an after shave splash!
                        </td>
                        <td>
                            $10.00
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <b>Line up</b>
                        </td>
                        <td>
                            Line ups consistent of cleaning up around entire hairline with trimmers then finishing with hot lather and straight razor
                            and an aftershave splash!
                        </td>
                        <td>
                            $10.00
                        </td>
                    </tr>
            </tbody>
        </table>
        </div>
    </div>
</div>