<div class="page">
<p class="text-center">

<br>
<br>
<input class="text-center" placeholder="Name" type="text" style="width:300px" [(ngModel)]="productName"><br/>
<input class="text-center" placeholder="Brand" style="width:300px" [(ngModel)]="productBrand"><br/>
<input class="text-center" placeholder="Price" style="width:300px" [(ngModel)]="productPrice">
<br/><br/> Product Image Preview
<br/>
<img [src]="imageSrc" alt="coming soon" width="200" height="300"><br/>
<br>
<input style="padding-left:85px" id="file" name="file" type="file" (change)="onChange($event)"><br/><br/>
<button md-raised-button color="accent" (click)="createProduct()">Add Product</button>
</p>
<br/>
<br/>
<br/>
<br/>
<br/> 
</div>