.ContentSideSections{padding-left:0px; padding-right:0px; padding-top:0px; background-color:#696969}
.dispBlock{display:block !important;}
.blackWhite{color:#fff;text-shadow: 2px 2px #000; font-size: 22px;}
.defaultText{font-size:18px; color:#000}
.overHidden{ overflow:hidden;}
body{background-color:#000 !important}
