<div class="page">
  <div class="title-box" style="min-height: 650px; padding:10px">


    <p class="text-center" style="font-size:50pt"><b>Cutthroat Barbershop</b></p>
    <img src="assets/images/more pics/newhoodie.jpg" class="img-fluid mx-auto d-block" style="padding:10px">
    <br>

    <p class="text-center" style="font-size:30pt">Our New Hoodies are in! Ask about em!</p>

    <br>


    <br>

    <img src="assets/images/highwest.jpg" class="img-thumbnail mx-auto d-block">
    <br>
    <p class="text-center" style="font-size:30pt">We now carry High West Beard Products!</p>

    <br>
  </div>
</div>
