<div class="hidden-lg-down page-xl">
  <div class="row" style="padding-left:15px">

    <div class="col-md-8 embed-responsive embed-responsive-16by9">
      <video style="height: auto" src="assets/vids/cutthroat.mp4" class="embed-responsive-item" controls></video>
    </div>

    <!-- /col -->
    <div class="col-md-4">

      <p class="text-center" style="font-size:50pt; float:right; color:#DB2226; text-shadow: 1px 1px black"><b>Cutthroat Barbershop</b></p>
      <br>
      <h4 class="text-center" style="font-weight:bold"><b>Address & Phone</b></h4>

      <br>
      <p class="text-center">2851 S. Redwood Rd, 84119,
        <br> West Valley City, UT
        <br>
        <br> Call Now - <a style="color:#DB2226" href="tel:1-(385) 242-7523">(385) 242-7523</a>
        <br> Make Appt - <a style="color:#DB2226" href="tel:1-(385) 242-7523">Book Now</a>
      </p>

      <br>

      <h4 class="text-center" style="font-weight:bold; color:black"><b>Hours of Operation</b></h4>

      <br>
      <p class="text-center">
        <b style="color:#DB2226">Closed Monday</b><br><br>
        <b>Tuesday - Saturday</b> <br> (9:00 AM - 6:00 PM)<br><br>
        <b>Sunday</b> <br> (11:00 AM - 4:00 PM)</p>
    </div>
  </div>

</div>

<!--LARGE VIEW-->

<div class="hidden-xl-up hidden-md-down page-ipad">
  <div class="row">
    <div class="col-md-8">
      <span style="color:black"><p style="padding:0; margin:0; font-size:30pt">Cutthroat Barbershop</p>
    2851 S. Redwood Rd, 84119, West Valley City, UT</span>
    </div>
    <div class="col-md-4">
      <p style="float:right; padding-top:20px">Call Now - <a style="color:#000" href="tel:1-(385) 242-7523">(385) 242-7523</a>
        <br> Make Appt - <a style="color:#000" href="tel:1-(385) 242-7523">Book Now</a>
      </p>
    </div>

    <div class="embed-responsive embed-responsive-16by9">
      <video src="assets/vids/cutthroat.mp4" class="embed-responsive-item" controls></video>
    </div>


  </div>
</div>


<!--MEDIUM VIEW-->

<div class="hidden-lg-up hidden-sm-down page-ipad">
  <div class="row">
    <div class="col-md-8">
      <span style="color:black"><p style="padding:0; margin:0; font-size:30pt">Cutthroat Barbershop</p>
    2851 S. Redwood Rd, 84119, West Valley City, UT</span>
    </div>
    <div class="col-md-4">
      <p style="float:right; padding-top:20px">Call Now - <a style="color:#000" href="tel:1-(385) 242-7523">(385) 242-7523</a>
        <br> Make Appt - <a style="color:#000" href="tel:1-(385) 242-7523">Book Now</a>
      </p>
    </div>

    <div class="embed-responsive embed-responsive-16by9" style="padding-top:50px">
      <video src="assets/vids/cutthroat.mp4" class="embed-responsive-item" controls></video>
    </div>


  </div>
</div>

<!--SMALL VIEW-->

<div class="hidden-md-up hidden-xs-down page-ipad">
  <div class="row">
    <div class="col-md-8">
      <p class="text-center" style="padding:0; margin:0; font-size:30pt">Cutthroat Barbershop</p>
      <p class="text-center">2851 S. Redwood Rd, 84119, West Valley City, UT</p>
    </div>
    <div class="col-md-4">
      <p class="text-center">Call Now - <a style="color:#000" href="tel:1-(385) 242-7523">(385) 242-7523</a>
        <br> Make Appt - <a style="color:#000" href="tel:1-(385) 242-7523">Book Now</a>
      </p>
    </div>
    <div class="embed-responsive embed-responsive-16by9" style="margin-left: 10px">
      <video src="assets/vids/cutthroat.mp4" class="embed-responsive-item" controls></video>
    </div>


  </div>
</div>


<!--MOBILE-->

<div class="hidden-sm-up page-mob">

  <div style="padding:10px">

    <div class="embed-responsive embed-responsive-16by9">
      <video src="assets/vids/cutthroat.mp4" class="embed-responsive-item" controls></video>
    </div>

  </div>
</div>
