<!--<h1>{{ (user | async)?.first }}</h1>-->
<div class="page">

  <div class="title-box">

    <div class="title">User Dashboard</div>
    <br>


    <div class="container mx-auto d-block" style="min-width:200px; max-width:600px">

      <div class="z-depth-1" style="border: 1px solid #EEE">

        <h4 class="text-center">
          Account Settings
        </h4>
        <br>
        <!--<div class='row'>
              <div class='input-field col s12'>
                <input class='validate' type='text' #newPassword />
                <button (click)="updatePassword(newPassword.value)" class="btn btn-warning btn-xs" style="float:right">Update</button>
                <label for='password'>Password</label>
              </div>-->
        <div class="text-center" style="margin-bottom: 20px">
          <button md-raised-button color="warn" (click)="onChangePassword()">Change Password</button>
          <div *ngIf="showPasswordPanel">
            <br>
            <input class="text-center" placeholder="New Password" [(ngModel)]="email" style="width: 300px">&nbsp;&nbsp;&nbsp;&nbsp;
            <input class="text-center" placeholder="Confirm Password" [(ngModel)]="email" style="width: 300px">

          </div>
        </div>
      </div>

      <br>
      <br>


      <div>
        <div class="z-depth-1" style="padding: 32px 48px 57px 48px; border: 1px solid #EEE">

          <h4 class="text-center">
            Customer Profile Information
          </h4>
          <br>
          <br>

          <!--<div class='row'>
            <div class='col s12'>
              <b>Name:</b>&nbsp;{{ (user | async)?.first }}&nbsp;{{ (user | async)?.last }}
            </div>
          </div>

          <br>
          <div class='row'>
            <div class='col s12'>
              <b>Email:</b>&nbsp;{{ (user | async)?.email }}
            </div>
          </div>

          <br>
          <div class='row'>
            <div class='col s12'>
              <b>Phone:</b>&nbsp;{{ (user | async)?.phone }}
            </div>
          </div>

          <br>
          <div class='row'>
            <div class='col s12'>
              <b>Address:</b>&nbsp;{{ (user | async)?.address.street }} {{ (user | async)?.address.city }},&nbsp;{{ (user
              | async)?.address.state}},&nbsp;{{ (user | async)?.address.postcode }}



            </div>
          </div>-->
        
  <ul>
    <li *ngFor="let item of items | async">
      {{item.text}}!!
      <input type="text" #updatetext [value]="item.text" />
      <button md-raised-button color="warn" (click)="updateItem(item.$key, updatetext.value)">Update</button>
      <button md-raised-button color="accent" (click)="deleteItem(item.$key)">Delete</button>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <input type="text" #newitem />
  <button md-raised-button color="warn" (click)="addItem(newitem.value)">Add</button>
  <button md-raised-button color="accent" (click)="deleteEverything()">Delete All</button>
        </div>
      </div>

      <br>
      <br>
      <br>
      <br>
    </div>
  </div>
</div>
