<!--<h1>{{ (user | async)?.first }}</h1>-->
<div class="page">

  <div class="title-box">


    <br>


    <div class="container mx-auto d-block" style="min-width:200px; max-width:600px">

      <div class="z-depth-1" style="border: 1px solid #EEE">

        <h4 class="text-center">
          Account Settings
        </h4>
        <br>

        <div class="text-center" style="margin-bottom: 36px">
          <button md-raised-button color="warn" (click)="onChangePassword()">Change Password</button>
          <div *ngIf="showPasswordPanel">
            <br>
            <md-input-container>
              <input class="text-center" mdInput placeholder="New Password" value="" style="width: 300px">
            </md-input-container>
            <md-input-container>
              <input class="text-center" mdInput placeholder="Confirm Password" value="" style="width: 300px">
            </md-input-container>
            <br>
            <br>
            <button md-raised-button color="warn" (click)="onChange()" style="float:right">Save</button>
          </div>
        </div>
      </div>

      <br>
      <br>


    </div>



    <div class="container mx-auto d-block" style="min-width:200px; min-width:600px;">

      <div class="z-depth-2" style="border: 1px solid #EEE">

        <div *ngIf="showDisabledFields">



          <button md-raised-button color="accent" (click)="onEdit()" style="float:right; margin-top: 5px; margin-right:5px">Edit</button>




          <br>
          <br>
          <h4 class="text-center">
            Personal Information
          </h4>
          <br>
          <br>



          <div class="text-center">


            <md-input-container>
              <input mdInput placeholder="First Name" value="{{firstName}}" disabled>
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Last Name" value="{{lastName}}" disabled>
            </md-input-container>
            <br>
            <md-input-container>
              <input mdInput placeholder="Email" value="{{email}}" disabled>
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Phone" value="{{phone}}" disabled>
            </md-input-container>
            <br>
            <md-input-container>
              <input mdInput placeholder="Address Line 1" value="{{street}}" style="width:400px" disabled>
            </md-input-container>
            <br>
            <md-input-container floatPlaceholder="always">
              <input mdInput placeholder="Address Line 2" value="{{street2}}" style="width:400px" disabled>
            </md-input-container>
            <br>
            <md-input-container>
              <input mdInput placeholder="City" value="{{city}}" disabled>
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="State" value="{{state}}" style="width:90px" disabled>
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Zip Code" value="{{postcode}}" style="width:100px" disabled>
            </md-input-container>

            <br>
            <br>
          </div>
        </div>



        <div *ngIf="showEnabledFields">
          <br>
          <br>
          <h4 class="text-center">
            Change Information
          </h4>
          <br>
          <br>


          <div class="text-center">


            <md-input-container>
              <input mdInput placeholder="First Name" value="{{firstName}}">
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Last Name" value="{{lastName}}">
            </md-input-container>
            <br>
            <md-input-container>
              <input mdInput placeholder="Email" value="{{email}}">
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Phone" value="{{phone}}">
            </md-input-container>
            <br>
            <md-input-container>
              <input mdInput placeholder="Address Line 1" value="{{street}}" style="width:400px">
            </md-input-container>
            <br>
            <md-input-container floatPlaceholder="always">
              <input mdInput placeholder="Address Line 2" value="{{street2}}" style="width:400px">
            </md-input-container>
            <br>
            <md-input-container>
              <input mdInput placeholder="City" value="{{city}}">
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="State" value="{{state}}" style="width:90px">
            </md-input-container>

            <md-input-container>
              <input mdInput placeholder="Zip Code" value="{{postcode}}" style="width:100px">
            </md-input-container>
            <br>
            <br>
            <button md-raised-button color="default" (click)="onSave()" style="float:right; margin-top: 10px; margin-right:5px">Save</button>

          </div>
        </div>

      </div>
    </div>

  </div>
</div>
