md-card{
    background-color:#fff;
    color: #000;
}
md-input-container{
    color:#000;
}

md-input-element {
    color:#000;
}

.title-box{
    min-width:300px;
    max-width:600px;
    height:auto;
    margin-left:120px;
    margin-right:120px;
    margin-top:20px;
    padding-bottom:10px;
}
